#save-product-btn {
    margin-right: 20px;
}
.btn:hover {
    color: black !important;
}
.navbar {
    border-bottom: 2px solid black;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #232c33;
}

body {
    background-color: #d8dad3;
    height: 100vh;
}

input,
select {
    border-color: black;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: white!important;

    }
    .navbar .navbar-toggler:focus{
        color: white;
        background-color: white;

    }
    .navbar-toggler{
        background-color: white;
    }
